@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>@ViewBag.v0</h1>

<div class="alert alert-primary">toplam yetenek sayisi: @ViewBag.v1</div>
<div class="alert alert-info">toplam yetenek degeri: @ViewBag.v2</div>
<div class="alert alert-success">degeri 70'den buyuk olan yetenek sayisi: @ViewBag.v3</div>
<div class="alert alert-warning">yeteneklerin ortalama degeri: @ViewBag.v4</div>
<div class="alert alert-danger">toplam deneyim sayisi: @ViewBag.v5</div>
<div class="alert alert-dark">alt basligi "developer" olan deneyim sayisi: @ViewBag.v6</div>
<div class="alert alert-danger">alt basligi "okunan mesaj sayisi: @ViewBag.v7</div>
<div class="alert alert-warning">alt basligi "okunmayan mesaj sayisi: @ViewBag.v8</div>
<div class="alert alert-success">alt basligi "toplam verilen hizmet sayisi: @ViewBag.v9</div>
<div class="alert alert-info">alt basligi "yazilim muhendisi olan referans sayisi: @ViewBag.v10</div>
<div class="alert alert-primary">alt basligi "toplam kategori sayisi: @ViewBag.v11</div>